# ddev-drupal-contrib working files
/.ddev/
/vendor/
/web/
/recipes/
/composer.lock
/composer.contrib.json
/composer.contrib.lock
/.editorconfig
/.gitattributes
/phpcs.xml.dist
/phpstan.neon
/phpstan-baseline.neon
.phpunit.result.cache
.DS_Store
